.nav{
    width: 15%;
    border-right: 2px solid #888888;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 300px;
    overflow-x: scroll;
    background-color: #242424;
}
.navItem {
    color: #ccccff;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    border-top: #66afe9 2px solid;
    /*border-left: #999999 2px solid;*/
    padding-top: 5px;
}
.navItemChild {
    color: lightblue;
    cursor: pointer;
    display: block;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 5px;
    white-space: nowrap;
    border-top: #888888 2px solid;
    display: none;
}
.active {
    display: block;
}

@media only screen and (max-width: 768px){
    .nav{
        width: 100%;
        border-bottom: #888888 2px solid;
    }
    .navItem {
        color: lightblue;
        cursor: pointer;
        display: inline;
        margin-right: 5px;
    }
    .navItemChild {
        color: lightblue;
        cursor: pointer;
        display: block;
        margin-right: 5px;
        margin-left: 5px;
    }
}